@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
section {
    padding: 100px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(/img/background1.jpg)!important;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 85px;
}
.banner h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.banner h3 {
    color: #fff;
    font-weight: lighter;
}
.btn {
    position: relative;
    background: #92a53c;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    background: #fff;
    padding: 20px 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: -150px !important;
    margin-top: -25px;
    
}
header.sticky .logo {
    color: #92a53c;
}
.logo-img {
    margin-top: -25px;
    float: left;
}
header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
    margin-top: -23px;
    

}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
header.sticky ul li a {
    color: #92a53c;
}
.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.content {
    display: flex;
    justify-content: space-between;
}
.content2 {
    display: flex;
    justify-content: space-between;
}
.contenBx {
    padding-right: 30px;
}
.contenBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: justify;
}
.w50 {
    min-width: 50%;

}
img {
    max-width: 100%;
    
}
.Services {
    background: #111;
}
.heading.white {
    color: #fff;
}
.Services .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.Services .content .servicesBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.Services .content .servicesBx h4 {
    padding-top: 20px;
}
.Services .content .servicesBx:hover {
    background: #92a53c;
}
.Services .content .servicesBx img:hover {
    filter: grayscale(1);
}
.contact {
    background: #111;
    color: #fff;
}
.formBx {
    min-width: 60%;
}
.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea,
.formBx form button {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: #222;
    border: none;
    outline: none;
    color: #fff;
    resize: none;

}
.formBx form textarea {
    min-height: 200px;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #999;
}
.formBx form button {
    max-width :100px;
    background: #92a53c;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}
.contactInfo {
    min-width: 40%;
}
.contactInfoBx {
    position: relative;
}
.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfoBx .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: #92a53c!important;
    margin-bottom: 0;
}
.copyright {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 150px;
}

/* responsive */
@media (max-width: 991px) {
    header, header.sticky {
        padding: 20px 50px;
        z-index: 1000;
        
    }
    header ul li a {
        margin: 20px ;
        color: #111;
        font-size: 24px;
    }
    .menu {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
            
    }
    .menu.active {
        left: 0;
    }
    .toggle {
        width: 40px;
        height: 40px;
        background:url(img/menu-nav.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active {
        background: url(close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle {
        filter: grayscale(1);
    }
    section {
        padding: 100px 50px;
    }
    .banner {
        padding: 150px 50px 100px;
    }
    .banner h2 {
        font-size: 1.5em;
    }
    .banner h3 {
        font-size: 1em;
    }
    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2 {
        font-weight: 600;
        font-size: 24px;
    }
    .contentBx h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .content {
        flex-direction: column;
        justify-content: center;
    }
    .w50 {
        margin-bottom: 20px;
    }
    .services .content .servicesBx {
        margin: 10px;
    }
}
